<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<title>Document</title>
<link rel="stylesheet" href="css/bootstrap.css"/>
<link rel="stylesheet" href="css/main.css"/>
<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
<script type="text/javascript" src="js/script.js"></script>
<style>
.welcome-section {
	/* position: absolute; */
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: #ffffff;
	overflow: hidden;
}

body {
	overflow-y: hidden;
	overflow-x: hidden;
}
</style>
</head>

<body>

	<div class="welcome-section content-hidden">
		<div class="content-wrap"
			style="margin-top: 700px; margin-left: 950px; width: 600px; height: 600px;">
			<ul class="fly-in-text">
				<li>K</li>
				<li>I</li>
				<li>N</li>
				<li>G</li>
				<li>S</li>
				<li>M</li>
				<li>A</li>
				<li>N</li>
			</ul>
			<a th:href="@{/login}" class="enter-button">Enter</a>
		</div>
	</div>


</body>

</html>